<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
.navbar {
    color: #FFF0F5;
    background-color: #483D8B;
}
h2 {
    margin-top: 8px;
    text-align: center;
}
body {
    background-color: #F5FFFA;
}
.container-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
.otp-text {
    margin: 16px;
}
.password-restriction {
    margin: 16px;
}
</style>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--            <a class="navbar-brand" href="#">PlayUP</a>-->
            <div>PlayUP</div>
        </div>
    </div>
</nav>

<h2>Forgot Password</h2>
<div class="container-class">
    <div class="otp-text">An OTP has been sent it to your registered Email ID</div>
    <form th:action="@{/forgot_password}" th:object="${forgot_password}" method="post">
        <div class="form-row">
            <div class="col">
                <p>OTP</p>
            </div>
            <div class="col">
                <input id="otp" type="text" />
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <p>Password*</p>
            </div>
            <div class="col">
                <input id="password" type="password" />
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <p>Re-enter Password</p>
            </div>
            <div class="col">
                <input id="reenter-password" type="password" />
            </div>
        </div>
    </form>

    <p style="margin-top: 16px"><input type="submit" /></p>
    <div class="password-restriction">* Password should be atleast 8 characters long, with 1 capital letter and 1  of the special characters - (@#$%^&*)</div>
</div>


</body>
</html>