<!--@Author Mugdha Agharkar-->

<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
.navbar {
    color: #FFF0F5;
    background-color: #483D8B;
}
h2 {
    margin-top: 8px;
    text-align: center;
}
body {
    background-color: #F5FFFA;
}
.container-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
.otp-text {
    margin: 16px;
}
</style>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--            <a class="navbar-brand" href="#">PlayUP</a>-->
            <div>PlayUP</div>
        </div>
    </div>
</nav>

<h2>OTP</h2>
<div class="container-class">

    <div class="otp-text">An OTP has been sent it to your registered Email ID</div>
    <form action="#" th:action="@{/otp}" th:object="${oneTimePassword}" method="post">
        <div class="form-row">
            <div class="col">One Time Password
                <input id="otp" type="text" th:field="*{oneTimePassword}"/>
            </div>
            <div th:if="${emailId}">
                <input id="emailId" type="text" th:value="${emailId}" name="emailId" hidden>
            </div>
            <div th:if="${userName}">
                <input id="userName" type="text" th:value="${userName}" name="userName" hidden>
            </div>
            <div th:if="${contactNumber}">
                <input id="contactNumber" type="text" th:value="${contactNumber}" name="contactNumber" hidden>
            </div>
            <div th:if="${sport}">
                <input id="sport" type="text" th:value="${sport}" name="sport" hidden>
            </div>
            <div th:if="${city}">
                <input id="city" type="text" th:value="${city}" name="city" hidden>
            </div>
            <div th:if="${password}">
                <input id="password" type="text" th:value="${password}" name="password" hidden>
            </div>
        </div>
        <p style="margin-top: 16px"><input type="submit" value="Verify" /></p>
    </form>

    <p></p>
    <a th:href="@{/profile/forgot}">Resend OTP</a><br />
</div>


</body>
</html>