<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
<h1>Payment</h1>
<table>
    <tr>
        <th><label for="name">Name on card</label></th> </tr>
    <tr>
       <th><input type="text" id="name" placeholder="Name on card"></th>
    </tr>
    <tr>
        <th><label>Card Number</label></th>
    </tr>
    <tr>
       <th><input type="number" id="cardnumber" placeholder="Card Number"></th>
    </tr>
    <tr>
        <th><label>cvv</label></th>
    </tr>
    <tr>
        <th><input type="number" id="cvv" placeholder="CVV"></th>
    </tr>
    <tr>
        <th><label>expiry date</label></th>
    </tr>
    <tr>
        <th><input type="text" id="expiry" placeholder="Expiry Date"></th>
    </tr>
    <tr>
        <th><input type="submit" value="Submit"/></th>
    </tr>
</table>
</div>
</body>
</html>