<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    .navbar {
        color: #FFF0F5;
        background-color: #483D8B;
    }
    h2 {
        margin-top: 8px;
        text-align: center;
    }
    body {
        background-color: #F5FFFA;
    }
    .container-class {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
    }
</style>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div>PlayUP</div>
        </div>
    </div>
</nav>

<div class="container-class">

<form th:action="@{/support}" th:object="${support}"  method="post">

    <div class="form-row">

        <h1 style="margin-top: 16px; margin-bottom: 16px">Support</h1>

    </div>


    <div class="form-row">
            <div class="col">
                <p>First Name</p>
            </div>
            <div class="col">
                <input type="text" id="name" th:field="*{name}" placeholder="Full Name" required/>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <p>Email Id</p>
            </div>
            <div class="col">
                <input id="Email-Id" type="text" th:field="*{email}" placeholder="Email Id" required/>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <p>Venue</p>
            </div>
            <div class="col">
                <input type="text" id="venue" th:field="*{venue}" placeholder="Venue Name">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <p>Description</p>
            </div>
        <div class="col">
            <textarea id="description" th:field="*{description}" placeholder="description" style="height:200px"></textarea>
        </div>
    </div>

    <div class="form-row">
    <input  style="margin-top: 16px" type="submit" value="Submit"/>
    </div>

</form>

</div>

<div th:if="${error}"><h2 th:text="${error}"></h2>

</div>
</body>
</html>