<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!--<script type="text/javascript" th:src="@{/js/support.js}"></script>-->
<script>
    function postData() {
        var nameText = document.getElementById("name").value;
        var emailText = document.getElementById("email").value;
        var venueText = document.getElementById("venue").value;
        var subjectText = document.getElementById("description").value;


        var windowLocation = window.location.href;

        // var supportArray = [supportName, email, venue, subject];
        //
        // console.log(supportArray[0]);
        // console.log(supportArray[1]);
        // console.log(supportArray[2]);
        // console.log(supportArray[3]);

        const obj = {name: nameText, email: emailText, venue: venueText, description: subjectText};
        const supportJSON = JSON.stringify(obj);

        var request = $.ajax({
            url:  windowLocation + "/SupportRequest",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: supportJSON,
        });

        request.fail(function(jqXHR, textStatus) {
            confirm("Request failed: " + textStatus);
        });

    }

</script>-->
<body>

<div class="row">
    <div class="col-25">
        <label for="name">First Name</label>
    </div>
    <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Full Name">
    </div>
    <div class="row">
        <div class="col-25">
            <label for="email">Email Address</label>
        </div>
        <div class="col-75">
            <input type="text" id="email" name="email" placeholder="Email Address">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="Venue">Venue Name</label>
        </div>
        <div class="col-75">
            <input type="text" id="venue" name="venue" placeholder="Venue Name">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="description">description</label>
        </div>
        <div class="col-75">
            <textarea id="description" name="description" placeholder="description" style="height:200px"></textarea>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Submit" onClick="postData()"/>
        <input type="submit" value="Demo" onClick="Demo()"/>
         <input type="button" id="DemoJS" name="venueName" onClick="Demo()" value="Search" />
    </div>
    </form>
</div>


</body>
</html>