<!--@Author Mugdha Agharkar-->

<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
.navbar {
    color: #FFF0F5;
    background-color: #483D8B;
}
h2 {
    margin-top: 8px;
    text-align: center;
}
body {
    background-color: #F5FFFA;
}
.container-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
.otp-text {
    margin: 16px;
}
.password-restriction {
    margin: 16px;
}
</style>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--            <a class="navbar-brand" href="#">PlayUP</a>-->
            <div>PlayUP</div>
        </div>
    </div>
</nav>

<h2>User Exists</h2>
<div class="container-class">
    <div class="otp-text">The entered email id is registered with us. Click <a href="/login">here</a> to login</div>


</body>
</html>