<!--@Author Mugdha Agharkar-->

<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
.navbar {
    color: #FFF0F5;
    background-color: #483D8B;
}
h2 {
    margin-top: 8px;
    text-align: center;
}
body {
    background-color: #F5FFFA;
}
.container-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
</style>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--            <a class="navbar-brand" href="#">PlayUP</a>-->
      <div>PlayUP</div>
    </div>
  </div>
</nav>

<h2>Venue</h2>
<div class="container-class">
  <div>
    <div th:if="${venueName}" class="row">
      <div class="col">
        <div>Venue Name:</div>
      </div>
      <div class="col">
        <div th:text="${venueName}" />
      </div>
    </div>

    <div th:if="${venueCity}" class="row">
      <div class="col">
        <div>Venue City:</div>
      </div>
      <div class="col">
        <div th:text="${venueCity}" />
      </div>
    </div>

    <div th:if="${availableSlots}" class="row">
      <div class="col">
        <div>Available Slots:</div>
      </div>
      <div class="col">
        <div th:text="${availableSlots}" />
      </div>
    </div>

    <form th:action="@{/venue/{id}(id=${id})}" method="post" class="row">
      <div th:if="${id}">
        <input id="id" type="text" th:value="${id}" name="id" hidden>
        <div>Select a slot:</div>
      </div>
      <div>
        <select name="selectedSlot" onchange="postSelectedSlot()">
          <option th:each="venueSlot : ${slots}"
                  th:value="${venueSlot.getSlotId()}"
                  th:text="${venueSlot.getSlotType() + '(' + venueSlot.getSport() + ')'}"
                  th:disabled="${venueSlot.getBookingStatus() == 'unavailable'}">Options</option>
        </select>
      </div>


      <p style="margin-top: 16px"><input type="submit" value="Book Now" /></p>
      <a th:href="@{/venue/nearest_venue/{id}(id=${id})}">Did not get the desired slot? Here is a nearby venue with the same sport</a>

    </form>
  </div>


  <h3>Slot Details</h3>
  <div style="min-width: 40%">
    <div class="row">
      <div class="col">
        <div>Early Morning</div>
      </div>
      <div class="col">
        <div>7:00 to 9:00</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div>Morning</div>
      </div>
      <div class="col">
        <div>9:00 to 11:00</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div>Afternoon</div>
      </div>
      <div class="col">
        <div>13:00 to 15:00</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div>Early Evening</div>
      </div>
      <div class="col">
        <div>15:00 to 17:00</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div>Evening</div>
      </div>
      <div class="col">
        <div>17:00 to 19:00</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div>Late Evening</div>
      </div>
      <div class="col">
        <div>19:00 to 21:00</div>
      </div>
    </div>

  </div>


<!--  <p></p>-->
<!--  <a th:href="@{/forgot_password}">Forgot Password?</a><br /> <a-->
<!--        th:href="@{/registration}">Don't have an account? Register-->
<!--  here!</a>-->

<!--  <div th:if="${success}">-->
<!--    <h2 th:text="${success}"></h2>-->
<!--  </div>-->

<!--  <div th:if="${failure}">-->
<!--    <h2 th:text="${failure}"></h2>-->
<!--  </div>-->
</div>


</body>
</html>